skilletlib~=1.2.0
click~=8.0.1
panforge~=0.0.0.1
jmespath~=0.10.0
pycryptodome
jinja2-ansible-filters
paramiko~=2.7.2
requests~=2.25.1
xlsxwriter~=1.4.3
asyncssh~=2.7.0
PyYAML~=5.4.1
Jinja2~=3.0.1
lxml~=4.6.3
urllib3~=1.26.5
pathlib~=1.0.1
setuptools~=57.0.0
